[project]
name = "{{ distribution_name }}"
authors = [
    { name="{{ author_name }}", email="{{ author_email }}" },
]
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">=3.12"
license-files = ["LICENSE.txt"]
classifiers = [
    # TODO: Update to relevant classifiers
    "Development Status :: 2 - Pre-Alpha",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
]
dynamic = ["version"]
dependencies = [
    "click>=7"
]

[project.optional-dependencies]
docs = [
    "furo>=2024.04.27",
    "myst-parser>=3",
    "sphinx>=9",
    "sphinx-click>=6",
]
test = [
    "pytest>=8",
    "pytest-click>=1.1",
    "pytest-console-scripts>=1.4",
    "pytest-cov>=6.1",
    "pytest-html>=4.1",
]

[dependency-groups]
dev = [
    "copier",{% if type_checker=="mypy" %}
    "mypy",{% endif %}
    "prek",{% if type_checker=="pyright" %}
    "pyright",{% endif %}
    "types-mock",
]

[project.urls]
Homepage = "{{ project_url }}"
Repository = "{{ download_url }}"
Tracker = "{{ tracker_url }}"

[project.scripts]
{{ distribution_name }} = "{{ package_name }}.cli:main"

[build-system]
requires = [
    "setuptools>=77",
    "setuptools_scm[toml]>=8",
]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true
package-dir = {"" = "src"}
zip-safe = false

[tool.setuptools_scm]

[tool.setuptools.packages.find]
where = ["src"]
include = ["{{ package_name }}*"]

[tool.ruff]
line-length = 100

[tool.ruff.lint]
# Enable specific rules or extend existing rule sets
select = [
    "E",    # pycodestyle errors
    "W",    # pycodestyle warnings
    "F",    # pyflakes
    "I",    # isort
    "D",    # pydocstyle
]
ignore = [
    "D107",  # Missing docstring in __init__
    "D203",  # 1 blank line required before class docstring
    "D213",  # Multi-line docstring summary should start at the second line
    "D413",  # Missing blank line after last section
]

[tool.ruff.lint.isort]
force-single-line = true

[tool.pydocstyle]
# ignore the following:
#   - D107: Missing docstring in __init__
add-ignore = [
    "D107",
]
convention = "google"

[tool.pytest.ini_options]
testpaths = [
    "tests",
]
