"""Setup for the {{ project_name }} package."""{% if repository_destination == 'gitlab' %}
import importlib.util{% endif %}
from pathlib import Path

from setuptools import find_packages
from setuptools import setup{% if repository_destination == 'gitlab' %}

spec = importlib.util.spec_from_file_location(
    "{{ package_name }}.version",
    "{{ package_name }}/version.py",
)
module = importlib.util.module_from_spec(spec)
spec.loader.exec_module(module)
VERSION = module.VERSION{% endif %}

setup(
    name="{{ project_name }}",
    author="{{ author_name }}",{% if repository_destination == 'gitlab' %}
    author_email="{{ author_email }}",{% endif %}
    description="{{ description }}",
    long_description=Path("README.md").read_text(encoding="utf-8"),
    long_description_content_type="text/markdown",
    url="{{ project_url }}",
    project_urls={
        "Tracker": "{{ tracker_url }}",
        "Source": "{% if repository_destination == 'gitlab' %}{{ download_url }}{% else %}https://github.com/{{ repository }}{% endif %}",
    },
    license="BBP-internal-confidential",
    install_requires=[],
    packages=find_packages(exclude=["tests"]),
    python_requires={% if support_py37 %}">=3.7"{% else %}">=3.8"{% endif %},{% if repository_destination == 'gitlab' %}
    version=VERSION,{% else %}
    use_scm_version=True,
    setup_requires=[
        "setuptools_scm",
    ],{% endif %}
    extras_require={
        "docs": ["m2r2", "sphinx", "sphinx-bluebrain-theme"],
        "test": [
            "mock",
            "pytest",
            "pytest-cov",
            "pytest-html",
        ],
    },
    classifiers=[
        # TODO: Update to relevant classifiers
        "Development Status :: 2 - Pre-Alpha",
        "Intended Audience :: Education",
        "Intended Audience :: Science/Research",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3",{% if support_py37 %}
        "Programming Language :: Python :: 3.7",{% endif %}
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Topic :: Scientific/Engineering :: Bio-Informatics",
    ],
    include_package_data=True,
)
