{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "config:recommended"
  ],
{% if use_uv_lock %}
  "lockFileMaintenance": {
    "description": "Keep uv.lock up to date",
    "enabled": true,
    "automerge": true
  },
{% endif %}
  "pre-commit": {
    "enabled": true
  },
  "packageRules": [
    {
      "description": "GitHub Actions workflows are managed by the template",
      "matchManagers": [
        "github-actions"
      ],
      "matchPackageNames": [
        "astral-sh/setup-uv",
        "actions/cache",
        "actions/checkout",
        "ytanikin/pr-conventional-commits",
{% if sphinx and setup_github_pages_docs %}        "actions/deploy-pages",
        "actions/upload-pages-artifact",
{% endif %}        "actions/setup-node",
        "actions/setup-python",
        "actions/download-artifact",
        "actions/upload-artifact",
        "codecov/codecov-action",
{% if setup_container %}        "docker/build-push-action",
        "docker/login-action",
        "docker/metadata-action",
        "docker/setup-buildx-action",
{% endif %}        "mikepenz/action-junit-report",
        "pypa/gh-action-pypi-publish",
        "softprops/action-gh-release"
        {% if setup_codeql %},
        "github/codeql-action"
        {% endif %}
      ],
      "enabled": false
    }
  ]
}
