include:
   - project: nse/ci
     file:
        - /ci/lib/tox-docker.yml
        - /ci/jobs/check-version.yml
        - /ci/jobs/check-packaging.yml
        - /ci/jobs/lint.yml
        - /ci/jobs/docs.yml
        - /ci/jobs/build-package.yml
        - /ci/jobs/publish-package.yml
        - /ci/jobs/publish-docs.yml
        - /ci/jobs/tag.yml
   - project: neuromath/ci
     file:
        - /ci/jobs/auto-release.yml
        - /ci/jobs/check-merge-request-title.yml
        - /ci/lib/pytest-template.yml{% if support_py37 %}
        - /ci/jobs/py38.yml{% endif %}
        - /ci/jobs/py39.yml
        - /ci/jobs/coverage.yml

{% if support_py37 %}
py37:
  extends: .pytest-template
  variables:
    TOXENV: ${CI_JOB_NAME},${CI_JOB_NAME}-min_versions{% else %}
py38:
  extends: .pytest-template
  variables:
    TOXENV: ${CI_JOB_NAME},${CI_JOB_NAME}-min_versions{% endif %}
